<section class="footer gradient-bg">
  <div class="container">
    <section class="header row center">
      <div class="col-md-12">
        <h4>JOIN OUR MAILING LIST TO RECEIVE A FREE DOWNLOAD OF LIFE GPS COMPANION DOCUMENT</h4>
        <hr/>
      </div>
    </section>

    <div class="row">
  		<div class="col-xs-2 logo">
  			<a href="https://eblingroup.com"><%= image_tag 'eg_white.png', :class => 'img-responsive', alt: "eblingroup.com" %></a>
  		</div>
      <div class="col-xs-7 mc-embed">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//eblingroup.us2.list-manage.com/subscribe/post?u=98c2b6d41ca7eb2ea9226297c&amp;id=fe7a6e0a41" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_98c2b6d41ca7eb2ea9226297c_fbb446e698" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="mc-button"></div>
          </form>
        </div>
      </div>
  		<div class="col-xs-3">
  			<p class="copyright">© EBLIN GROUP <%= Time.now.year %></p>
  		</div>
  	</div>
  </div>
</section>