<section class="footer gradient-bg">
  <div class="container">
  	<div class="row">
  		<div class="col-xs-2 logo">
  			<a href="https://eblingroup.com"><%= image_tag 'eg_white.png', :class => 'img-responsive', alt: "eblingroup.com" %></a>
  		</div>
  		<div class="col-xs-10">
  			<p class="copyright">© EBLIN GROUP 2014</p>
  		</div>
  	</div>
  </div>
</section>