.footer {
  margin-top: 3em;
  p {
    margin-top: 1em;
    font-size: 1.25em;
  }
  hr {
    margin-top: 0px;
  }
  .logo {
    img {
      max-width: 60px;
    }
    a img {
      -webkit-transition: opacity .25s ease;
      transition: opacity .25s ease;
      &:hover{
        opacity: 0.75;
      }
    }
  }
  .copyright {
    text-align: right;
  }
}