.footer {
  p {
    margin-top: 1em;
    font-size: 1.25em;
  }
  hr {
    margin-top: 0px;
  }
  .logo {
    img {
      max-width: 60px;
    }
    a img {
      -webkit-transition: opacity .25s ease;
      transition: opacity .25s ease;
      &:hover{
        opacity: 0.75;
      }
    }
  }
  .copyright {
    text-align: right;
  }

  //MailChimp Form Formatting
  #mc_embed_signup {
    margin-bottom: 10%;
  }
  #mce-EMAIL {
    float: left;
    width: 80%;
    height: 46px;
    border-radius: 0px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: $secondary_font, $tertiary_font;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    @media (max-width: 640px) {
      font-size: 14px;
    }
    -webkit-font-smoothing: antialiased;
  }
  .mc-button {
    width: 20%;
    border: 2px solid #ffffff;
    background-color: rgba(30, 40, 50, 0.85);
    -webkit-box-shadow: none;
    box-shadow: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: $primary_font, $secondary_font, $tertiary_font;
    font-weight: 200;
    font-style: normal;
    font-size: 1.85em;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    &:hover {
      background-color: rgba(30,40,50, 0.2);
      -webkit-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
    }
  }
}