.landing {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #008fc5;
  min-height: 100vh;
}

.testimonials {
	padding-top: 3em;
	padding-bottom: 3em;
	background: #fdfdfd;
	min-height: 75vh;
	.book-slider {
		margin-top: 3em;
	}
	.testimonial-entry {
		padding: 4.5em 0;
	}
	.testimonial-quote {
		.quote {
			color: $dark_blue;
		}
		.name {
			color: $dark_blue;
			text-align: right;
			font-size: 2.5em;
			font-weight: 200;
			margin-bottom: 0.25em;
		}
		.credentials {
			color: $dark_blue;
			text-align: right;
		}
	}
	.book {
		img {
			max-height: 350px;
		}
	}
}

.tiers {
	padding-top: 3em;
	padding-bottom: 1em;
	min-height: 100vh;

	.tier-info {
		margin-bottom: 3.5em;
	}

	.tier {
		margin-top: 3em;
		margin-bottom: 4.5em;
		.tier-title {
			h3 {
				margin-top: 0.1em;
				text-transform: uppercase;
			}
		}
		.tier-reward {
			h4 {
				margin-top: 0;
				font-size: 36px;
				color: #008fc5;
				text-transform: uppercase;
			}
		}
	}
}

#purchase, .purchase {
	padding-top: 3em;
	min-height: 75vh;
	background: #fdfdfd;
	.purchase-links {
		margin-top: 3em;
		text-align: center;
	}
}

.footer {
	padding: 3em 0;
}

.header {
  margin-bottom: 1em;
  hr {
    margin-top: 0px;
  }
}

.header-dark {
	@extend .header;
	h1 {
		color: $dark_blue;
		background: -webkit-radial-gradient(circle farthest-side at left top,#008fc5 25%,#034768 80%, #192f42 98%);
  	background: radial-gradient(circle farthest-side at left top,#008fc5 25%,#034768 80%,#043D54 98%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h2 {
		color: $dark_blue;
		background: -webkit-radial-gradient(circle farthest-side at left top,#008fc5 25%,#034768 80%, #192f42 98%);
  	background: radial-gradient(circle farthest-side at left top,#008fc5 25%,#034768 80%,#043D54 98%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 28px;
	}
	h3 {
		@extend h1;
		font-size: 60px;
	}
	hr {
		color: $dark_blue;
	}
	p {
		color: $dark_blue;
		background: -webkit-radial-gradient(circle farthest-side at left top,#008fc5 25%,#034768 80%, #192f42 98%);
  	background: radial-gradient(circle farthest-side at left top,#008fc5 25%,#034768 80%,#043D54 98%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.book {
  img {
    margin: auto;
  }
}

.gradient-bg {
  background: -webkit-radial-gradient(circle farthest-side at right bottom,#008fc5 25%,#034768 80%, #192f42 98%);
  background: radial-gradient(circle farthest-side at right bottom,#008fc5 25%,#034768 80%,#043D54 98%);
}

.videoWrapper {
	position: relative;
	padding-bottom: 54%; /* NOT 16:9 */
	padding-top: 25px;
	margin-bottom: 3em;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.preorder-button {
  display: inline-block;
  color: #ffffff;
  background-color: rgba(255,255,255,0);
  border: 1px solid #ffffff;
  padding: 20px 20px;
  width: 100%;
  max-width: 340px;
  text-align: center;
  font-family: $secondary_font, $tertiary_font;
  font-size: 1.5em;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  transition: background-color .15s ease-in-out;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: rgba(255,255,255,0.55);
    text-decoration: none;
  }
  &:active {
  color: white;
    background-color: rgba(255,255,255,0.75);
  }
}

.preorder-button-dark {
	@extend .preorder-button;
	background-color: $dark_blue;
	border: none;
  &:hover {
    color: white;
    background-color: lighten($dark_blue, 20%);
    text-decoration: none;
  }
  &:active {
  color: white;
    background-color: lighten($dark_blue, 25%);
  }
}

.claim-button {
	@extend .preorder-button;
	padding: 15px 10px;
	font-size: 1.15em;
	font-weight: 400;
	text-transform: uppercase;
}